@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.ViewFeatures

<!DOCTYPE html>
<html>

<head>
    <title>Sign Up and Log In</title>
    <style>
        /* CSS styles */

        .form {
            background: rgba(19, 35, 47, 0.9);
            padding: 40px;
            max-width: 600px;
            margin: 40px auto;
            border-radius: 4px;
            box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
        }

        .tab-group {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
        }

            .tab-group:after {
                content: "";
                display: table;
                clear: both;
            }

            .tab-group li a {
                display: block;
                text-decoration: none;
                padding: 15px;
                background: rgba(160, 179, 176, 0.25);
                color: #a0b3b0;
                font-size: 20px;
                float: left;
                width: 50%;
                text-align: center;
                cursor: pointer;
                transition: 0.5s ease;
            }

                .tab-group li a:hover {
                    background: #1ab188;
                    color: #ffffff;
                }

            .tab-group .active a {
                background: #1ab188;
                color: #ffffff;
            }

        .tab-content > div:last-child {
            display: none;
        }

        h1 {
            text-align: center;
            color: #ffffff;
            font-weight: 300;
            margin: 0 0 40px;
        }

        label {
            position: absolute;
            transform: translateY(6px);
            left: 13px;
            color: rgba(255, 255, 255, 0.5);
            transition: all 0.25s ease;
            -webkit-backface-visibility: hidden;
            pointer-events: none;
            font-size: 22px;
        }

            label .req {
                margin: 2px;
                color: #1ab188;
            }

            label.active {
                transform: translateY(50px);
                left: 2px;
                font-size: 14px;
            }

                label.active .req {
                    opacity: 0;
                }

            label.highlight {
                color: #ffffff;
            }

        input,
        textarea {
            font-size: 22px;
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px 10px;
            background: none;
            background-image: none;
            border: 1px solid #a0b3b0;
            color: #ffffff;
            border-radius: 0;
            transition: border-color 0.25s ease, box-shadow 0.25s ease;
        }

            input:focus,
            textarea:focus {
                outline: 0;
                border-color: #1ab188;
            }

        textarea {
            border: 2px solid #a0b3b0;
            resize: vertical;
        }

        .field-wrap {
            position: relative;
            margin-bottom: 40px;
        }

        .top-row:after {
            content: "";
            display: table;
            clear: both;
        }

        .top-row > div {
            float: left;
            width: 48%;
            margin-right: 4%;
        }

            .top-row > div:last-child {
                margin: 0;
            }

        .button {
            border: 0;
            outline: none;
            border-radius: 0;
            padding: 15px 0;
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            background: #1ab188;
            color: #ffffff;
            transition: all 0.5s ease;
            -webkit-appearance: none;
        }

            .button:hover,
            .button:focus {
                background: #1ab188;
            }

        .button-block {
            display: block;
            width: 100%;
        }

        .forgot {
            margin-top: -20px;
            text-align: right;
        }

        .form-row {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
        }

            .form-row label {
                margin-bottom: 0.5em;
            }
    </style>
</head>

<body>
    <div class="form">
        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
        </ul>

        <div class="tab-content">
            <div id="signup">
                <h1>Sign Up for Prenatal Services</h1>
                <form method="post">
                    <div class="field-wrap">
                        <label for="citizenship" class="active">Citizenship:</label>
                        <input type="text" id="citizenship" class="form-control" value="@Html.Raw(Context.Session.GetString("Citizenship"))" required disabled>
                    </div>

                    @if (Context.Session.GetString("Citizenship") == "South African Citizen")
                    {
                        <div class="field-wrap">
                            <label for="idNumber" class="active">ID Number:</label>
                            <input type="text" id="idNumber" class="form-control" value="@Html.Raw(Context.Session.GetString("UserId"))" required disabled>
                        </div>
                    }
                    else
                    {
                        <div class="field-wrap">
                            <label for="passportNumber" class="active">Passport Number:</label>
                            <input type="text" id="passportNumber" class="form-control" value="@Html.Raw(Context.Session.GetString("UserPassport"))" required disabled>
                        </div>
                    }

                    <div class="field-wrap">
                        <label for="firstName" class="active">First Name:</label>
                        <input type="text" id="firstName" class="form-control" value="@Html.Raw(Context.Session.GetString("FirstName"))" disabled>
                    </div>

                    <div class="field-wrap">
                        <label for="lastName" class="active">Last Name:</label>
                        <input type="text" id="lastName" class="form-control" autocomplete="username" aria-required="true" placeholder="Last Name" value="@Html.Raw(Context.Session.GetString("LastName"))" required disabled>
                    </div>

                    <div class="field-wrap">
                        <label for="homeAddress" class="active">Home Address:</label>
                        <input type="text" id="homeAddress" class="form-control" value="@Html.Raw(Context.Session.GetString("HomeAddress"))" required disabled>
                    </div>

                    <div class="field-wrap">
                        <label for="role" class="active">Role:</label>
                        <input type="text" id="role" class="form-control" value="@Html.Raw(Context.Session.GetString("Role"))" disabled>
                    </div>

                    @if (Context.Session.GetString("Role") == "PHC Worker")
                    {
                        <div class="field-wrap">
                            <label for="phcRole" class="active">PHC Role:</label>
                            <input type="text" id="phcRole" class="form-control" value="@Html.Raw(Context.Session.GetString("PHC_Role"))" disabled>
                        </div>
                    }

                    <div class="field-wrap">
                        <label for="phoneNumber" class="active">Phone Number:</label>
                        <input type="tel" id="phoneNumber" class="form-control" value="@Html.Raw(Context.Session.GetString("PhoneNumber"))" disabled>
                    </div>

                    <div class="field-wrap">
                        <label for="email" class="active">Email:</label>
                        <input type="email" id="email" class="form-control" aria-required="true" required>
                    </div>

                    <div class="field-wrap">
                        <label for="password" class="active">Password:</label>
                        <input type="password" id="password" class="form-control" aria-required="true" required>
                    </div>

                    <div class="field-wrap">
                        <label for="password" class="active">Confirm Password:</label>
                        <input type="password" id="password" class="form-control" aria-required="true" required>
                    </div>

                    <input type="submit" value="Register" onclick="location.href='#login';">

                </form>


                <style>
                    label.active {
                        transform: translateY(-20px);
                        left: 2px;
                        font-size: 14px;
                    }

                    label.highlight {
                        color: #ffffff;
                    }
                </style>


            </div>

            <div id="login" style="display: none;">
                <h1>Welcome Back!</h1>

                <form action="/" method="post">

                    <div class="field-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        <input type="email" required autocomplete="off" />
                    </div>

                    <div class="field-wrap">
                        <label>
                            Password<span class="req">*</span>
                        </label>
                        <input type="password" required autocomplete="off" />
                    </div>

                    <p class="forgot"><a href="#">Forgot Password?</a></p>

                    <button class="button button-block"><a asp-controller="PrenatalCare" asp-action="Index">Log In</a></button>


                </form>

            </div>
        </div>
        <!-- tab-content -->
    </div>
    <!-- /form -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.form').find('input, textarea').on('keyup blur focus', function (e) {
                var $this = $(this),
                    label = $this.prev('label');

                if (e.type === 'keyup') {
                    if ($this.val() === '') {
                        label.removeClass('active highlight');
                    } else {
                        label.addClass('active highlight');
                    }
                } else if (e.type === 'blur') {
                    if ($this.val() === '') {
                        label.removeClass('active highlight');
                    } else {
                        label.removeClass('highlight');
                    }
                } else if (e.type === 'focus') {
                    if ($this.val() === '') {
                        label.removeClass('highlight');
                    } else if ($this.val() !== '') {
                        label.addClass('highlight');
                    }
                }
            });

            $('.tab a').on('click', function (e) {
                e.preventDefault();
                $(this).parent().addClass('active');
                $(this).parent().siblings().removeClass('active');
                target = $(this).attr('href');
                $('.tab-content > div').not(target).hide();
                $(target).fadeIn(600);
            });

            var citizenshipField = $('#citizenship');
            var idNumberField = $('#id-number-field');
            var passportNumberField = $('#passport-number-field');

            citizenshipField.on('change', function () {
                if (citizenshipField.val() === 'South African Citizen') {
                    idNumberField.show();
                    passportNumberField.hide();
                } else {
                    idNumberField.hide();
                    passportNumberField.show();
                }
            });
        });
    </script>

</body>

</html>
